.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  z-index: 1000;
}

.popup__title {
  font-family: "Inter Black";
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
}

.popup__container {
  background: #fff;
  width: 430px;
  height: 330px;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  position: relative;
}

.popup__closebutton {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 57.56px;
  height: 57.56px;
  display: flex;
  background: url(../images/close_button_WHITE.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.popup__closebuttton:hover {
  opacity: 60%;
}

@media screen and (min-width: 321px) and (max-width: 540px) {
  .popup__container {
    width: 88.125%;
  }

  .popup-closebuttton {
    top: -50px;
    right: 2.23px;
    width: 36.77px;
    height: 36.77px;
    background: url(../images/close_button_WHITE320.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (width: 320px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 1.21;
  }

  .popup-closebuttton {
    top: -50px;
    right: 2.23px;
    width: 36.77px;
    height: 36.77px;
    background: url(../images/close_button_WHITE320.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
