.edit-info__title {
  font-size: 24px;
  font-family: "Inter Black";
  line-height: 1.21;
  height: 23px;
}

.edit-info {
  width: 358px;
  height: 260px;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.edit-info__name {
  margin-top: 48px;
  padding: 0;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  height: 27.26px;
}

.edit-info__name::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}

.edit-info__job {
  margin: 0;
  padding: 0;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  height: 27.34px;
}

.edit-info__job::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}

.edit-info__button {
  margin-top: auto;
  padding: 0;
  height: 50.15px;
  border: none;
  color: #fff;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  border-radius: 2px;
}

.edit-info__button-inactive {
  margin-top: auto;
  height: 50.15px;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  border-radius: 2px;
  opacity: 20%;
  border: 1px solid #000;
}

.edit-info__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 321px) and (max-width: 540px) {
  .edit-info {
    width: 88.125%;
  }
}

@media screen and (width: 320px) {
  .edit-info {
    width: 282px;
    height: 322px;
  }

  .edit-info__name {
    margin: 76px 0 0;
    height: 26px;
  }

  .edit-info__button {
    font-size: 14px;
    line-height: 1.21;
  }
}
